@import "tailwindcss";

/* Global Background */
body {
  background: url("") center/cover no-repeat fixed;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


.bg-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-slideshow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: bgFade 18s infinite;
  filter: brightness(0.85);
}

@keyframes bgFade {
  0%   { background-image: url("src/assets/images/Deppresion.jpeg"); }
  33%  { background-image: url("src/assets/images/facial_recognition.jpeg"); }
  66%  { background-image: url("src/assets/images/stress-vs-anxiety.jpg"); }
  100% { background-image: url("src/assets/images/Deppresion.jpeg"); }
}